.xl {
	font-size: 32px;
	font-weight: 700;
	line-height: 40px;
}

.lg {
	font-size: 20px;
	font-weight: 900;
	line-height: 28px;
}

.md {
	font-size: 18px;
	font-weight: 400;
	line-height: 26px;
}

.sm {
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}

.xs {
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
}
