.pageInfo {
	text-align: center;
	padding-top: 80px;
}

.title {
	color: #fff;
	margin-bottom: 40px;
	text-align: center;
}

.description {
	max-width: 280px;
	color: #fff;
	margin: 0 auto 20px;
	text-align: center;
}
