.menuIconWrapper {
	width: 36px;
	height: 25px;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 15;
	cursor: pointer;
}

.menuIcon {
	position: relative;
	width: 36px;
	height: 4px;
	background-color: #fff;
	top: 11px;
	border-radius: 4px;
}

.menuIcon::before {
	position: absolute;
	left: 0;
	top: -11px;
	content: '';
	width: 36px;
	height: 4px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	border-radius: 4px;
}

.menuIcon::after {
	position: absolute;
	left: 0;
	top: 11px;
	content: '';
	width: 36px;
	height: 4px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
	border-radius: 4px;
}

.menuIconActive {
	background-color: transparent;
}

.menuIconActive::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menuIconActive::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}
